- if @next_tournament
  #next_tournament.center
    %h4.red.bold.tournoi_title PROCHAIN TOURNOI
    %p.desc= @next_tournament.title
    = form_tag inscriptions_path, method: :post do 
      = hidden_field_tag :preinscription, "1"
      .info Je souhaitre être informé de l’ouverture des prochaines insciptions
      = text_field_tag 'pre_inscription_email','', placeholder: 'Votre email...', class: 'special_input'
      = submit_tag "Valider"