#menu
  .menu_image=image_tag "cup.png"
  .menu_item Les tournois
  .menu_image=image_tag "chariot.png"
  .menu_item La boutique
  .menu_image=image_tag "racket.png"
  .menu_item les leçons

#tournament
  #tournament_introduction
    %h1 Inscriptions aux tournois
    %h2= @tournament.title
    %p= @tournament.description
    %p= "Nombre de joueurs inscrits #{@tournament.users.count}"

  #inscription_panel
    %h1 Inscription
    %p Merci de bien vouloir renseigner le champ suivant :
    = form_tag inscriptions_path, method: :post, id: :tournament_form do 
      = hidden_field_tag :tournament_id, @tournament.id
      = email_field_tag :email
      = submit_tag "Valider"

  #participants_list

  #registration_form
    = render template: "users/registrations/new", layout: false
  

- if @next_tournament
  #next_tournament
    %h1 Prochain tournoi
    %p= @next_tournament.title
    = form_tag inscriptions_path, method: :post do 
      = hidden_field_tag :preinscription, "1"
      = text_field_tag :pre_inscription_email
      = submit_tag "Valider"

#bottom_menu
#footer
