- #coding: UTF-8
#lecons
  #lecon_introduction.size_100.center
    %h1 Les leçons

  #rubriques.size_100.center.clearfix
    - @rubriques.each do |rubrique| 
      %div.rubrique{id: "rubrique_#{rubrique.id}", class: "rubrique #{(rubrique.id % 2 == 0) ? 'right' : 'left'}"}
        = image_tag "red_point.png"
        %h4=rubrique.title
        %p=rubrique.description
        -if !rubrique.button_link.blank?
          - text = rubrique.button_text.blank? ? "Accéder" : rubrique.button_text
          = link_to rubrique.button_text||"Accéder", rubrique.button_link, class: :disabled
      - if rubrique.id % 2 == 0
        .clearfix
      - if rubrique.id == 2
        #contact_rubrique.rubrique.center
          = image_tag "youssouf_picture.png"
          %p.small
            %strong Youssouf Mahamat
            , Professeur diplômé d'état
          %p
            Vous pouvez me contacter par mail
            %strong= link_to "youssouf@squash-st-cloud.fr", "mailto:youssouf@squash-st-cloud.fr"
            ou par
            %strong=link_to "mobile 06 06 06 06 06", "tel:0606060606"

  #slideshow_wrapper
    #slideshow.size_100.center
      = image_tag "left_arrow.png", id: "left_arrow"
      #images
        - @pictures.each do |picture|
          = image_tag picture.url(:large), style: "display:none"
      = image_tag "right_arrow.png", id: "right_arrow"