- #coding: UTF-8
#lecons
  #lecon_introduction.size_100.center
    %h1 Les leçons

  #rubriques.size_100.center
  - @rubriques.each do |rubrique|
    %div{id: "rubrique_#{rubrique.id}"}
      =rubrique.title
      %br
      =rubrique.description
      -if rubrique.button_link
        = link_to rubrique.button_text||"Accéder", rubrique.button_link

  #slideshow_wrapper
    #slideshow.size_100.center
      = image_tag asset_path("/assets/left_arrow.png"), id: "left_arrow"
      #images
        - @pictures.each do |picture|
          = image_tag asset_path(picture.url(:medium))
      = image_tag asset_path("/assets/right_arrow.png"), id: "right_arrow"