#inscription_confirmation 
  Vous êtes : 
  .user_information= "#{@user.name}, #{@user.association_name}, #{@user.licence}"
  Merci de bien vouloir nous confirmer:
  = form_tag inscriptions_path(@inscription), method: :put do 
    =text_field_tag :phone_number_confirmation,"", placeholder: 'Votre numéro de téléphone...'
    =text_field_tag :email_confirmation, "", placeholder: 'Votre numéro de téléphone...'
    =text_field_tag :inscription_comment, "", placeholder: 'Si vous avez des commentaires relatifs à votre inscription, merci de nous les indiquer ici.'
    =submit_tag 'Valider'
