#participants_list
  #males
    - if @males.count > 1
      = "#{@males.count} joueurs inscrits pour les hommmes"
    - else
      = "#{@males.count} joueur inscrit pour les hommmes"
    - @males.each do |user|
      .licence= user.licence
      .name= user.name
      .asso= user.association
      - if @inscriptions.select{|inscription| inscription.user_id == user.id}.first.validated_by_admin then
        .validation=  "OK (#{validation_date.to_formatted_s(:short)})" 
      - else
        .validation= "NON VALIDÉ"

  #females
    - if @females.count > 1
      = "#{@females.count} joueurs inscrits pour les femmes"
    - else
      = "#{@females.count} joueur inscrit pour les femmes"

    - @females.each do |user|
      .licence= user.licence
      .name= user.name
      .asso= ""
      - if @inscriptions.select{|inscription| inscription.user_id == user.id}.first.validated_by_admin then
        .validation=  "OK (#{validation_date.to_formatted_s(:short)})" 
      - else
        .validation= "NON VALIDÉ"