-# coding: utf-8
#tournament_participants
  %h2.title
    Liste des 
    %strong joueurs inscrits
    au tournoi
  #participants_list.clearfix
    #males.category
      .box-inscrit
        %span.number= @males.count
        - if @males.count > 1 
          %span.tite joueurs inscrits hommmes
        - else
          %span.tite joueur inscrit hommmes
      
      - if @males.count > 0  
        .line-user-header
          .licence N°license
          .name Prénom, Nom
          .asso Asso
          .validation Validation
        
      - @not_waiting_list_males = @males.select{|male| @inscriptions.select{|inscription| inscription.user_id == male.id}.first.waiting_list.nil?}
      - @waiting_list_males = @males - @not_waiting_list_males
      - @not_waiting_list_males.each do |user|
        .line-user
          .licence= user.licence
          .name= user.name
          .asso= user.association_name
          - @inscription = @inscriptions.select{|inscription| inscription.user_id == user.id}.first
          - if @inscription.validated_by_admin
            .validation=  "OK (#{@inscription.validation_date.to_formatted_s(:short)})" 
          - else
            .validation= "NON VALIDÉ"
      - if !@not_waiting_list_males.empty?
        %br
        .bold.red SUR LISTE D'ATTENTE :
      - @waiting_list_males.each do |user|
        .line-user
          .licence= user.licence
          .name= user.name
          .asso= user.association_name
          .validation
    #females.category
      .box-inscrit
        %span.number= @females.count 
        - if @females.count > 1
          %span.tite joueuses inscrites femmes
        - else
          %span.tite joueuse inscrite femmes

      - if @females.count > 0   
        .line-user-header
          .licence N°license
          .name Prénom, Nom
          .asso Asso
          .validation Validation
        
      - @not_waiting_list_females = @females.select{|female| @inscriptions.select{|inscription| inscription.user_id == female.id}.first.waiting_list.nil?}
      - @waiting_list_females = @females - @not_waiting_list_females
      - @not_waiting_list_females.each do |user|
        .line-user
          .licence= user.licence
          .name= user.name
          .asso= user.association_name
          - @inscription = @inscriptions.select{|inscription| inscription.user_id == user.id}.first
          - if @inscription.validated_by_admin then
            .validation=  "OK (#{@inscription.validation_date.to_formatted_s(:short)})" 
          - else
            .validation= "NON VALIDÉ"
      - if !@waiting_list_females.empty?
        %br
        .bold.red SUR LISTE D'ATTENTE
      - @waiting_list_females.each do |user|
        .line-user
          .licence= user.licence
          .name= user.name
          .asso= user.association_name
          .validation