-# coding: utf-8
#inscription_confirmation 
  .identity Vous êtes : 
  .user_information= "#{@user.name}, #{@user.association_name}, #{@user.licence}"
  .thanks Merci de bien vouloir nous confirmer:
  = form_tag inscriptions_path, method: :post do 
    = hidden_field_tag :tournament_id, @tournament.id
    =text_field_tag :phone_number_confirmation,"", placeholder: 'Votre numéro de téléphone...'
    =text_field_tag :email_confirmation, "", placeholder: 'Votre email...'
    =text_area_tag :inscription_comment, "", placeholder: 'Si vous avez des commentaires relatifs à votre inscription, merci de nous les indiquer ici.', class: 'comment_input'
    =submit_tag 'Valider'