!!!
%html
  %head
    %title Mysquash
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    #menu
      #menu_items.size_100.center
        .menu_item
          .menu_image=image_tag "cup.png"
          .menu_text Les tournois
        .menu_item
          .menu_image=image_tag "chariot.png"
          .menu_text La boutique
        .menu_item
          .menu_image=image_tag "racket.png"
          .menu_text les leçons
        .clearfix

    #tournament.size_100.center
      #tournament_introduction.size_75.center
        %h1 Inscriptions aux tournois
        %h2.size_50.center= @tournament.title

      #tournament_information
        #number_inscriptions.left.size_25
          %p= "Nombre de joueurs inscrits #{@tournament.users.count}"
        #description.left.size_75
          %p= @tournament.description
        .clearfix

      #tournament_inscription.size_50.center
        %h1 Inscription
        %p Merci de bien vouloir renseigner le champ suivant :
        = form_tag inscriptions_path, method: :post, id: :tournament_form do 
          = hidden_field_tag :tournament_id, @tournament.id
          = email_field_tag :email
          = submit_tag "Valider"

      #registration_form
        = render template: "users/registrations/new", layout: false
      
      #content
        =yield
    
    #bottom_layer  
      - if @next_tournament
        #next_tournament.size_50.center
          %h1 Prochain tournoi
          %p= @next_tournament.title
          = form_tag inscriptions_path, method: :post do 
            = hidden_field_tag :preinscription, "1"
            = text_field_tag :pre_inscription_email
            = submit_tag "Valider"

    #bottom_menu
    #footer
