-# encoding: UTF-8
!!!
%html
  %head
    %title Mysquash
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    = favicon_link_tag "/assets/favicon.ico"
  %body
    #wrapper
      #trame
        #menu.bold
          #menu_items.size_100.center
            .menu_item
              =image_tag "header_cup.png"
              %span Les tournois
            .menu_item
              =image_tag "header_cart.png"
              %span La boutique
            .menu_item
              =image_tag "header_racket.png"
              %span les leçons
            .clearfix
    
        #tournament.size_100.center
          #tournament_introduction.center
            %h1 Inscriptions aux tournois
            %h2.indent-title= @tournament.title
    
          #tournament_information.clearfix
            #number_inscriptions.left.size_25
              .layout4
                %p.inscritlayout
                  %span.area Nombre de joueurs inscrits
                  %span.unite= @tournament.users.count
                  .clearfix
            #description.left.size_75
              %p= @tournament.description
              #tournament_inscription.center
                %h2.title INSCRIPTION
                %p.bold.upper Merci de bien vouloir renseigner le champ suivant :
                = form_tag inscriptions_path, method: :post, id: :tournament_form do 
                  = hidden_field_tag :tournament_id, @tournament.id
                  = email_field_tag :email
                  .infolegal
                    %span.asterisk *
                    Merci d'indiquer un email valide, un email de confirmation vous sera envoyé à cette adresse pour validation définitive de votre inscription.
                  = submit_tag "Valider"
                  
        
              #registration_form
                = render template: "users/registrations/new", layout: false
              
              #content
                - if flash[:notice] || flash[:alert]
                  .notice.alert= flash[:notice] || flash[:alert]
                =yield
        
        #bottom_layer  
          - if @next_tournament
            #next_tournament.center
              %h4.red.bold.tournoi_title PROCHAIN TOURNOI
              %p.desc= @next_tournament.title
              = form_tag inscriptions_path, method: :post do 
                = hidden_field_tag :preinscription, "1"
                .info Je souhaitre être informé de l’ouverture des prochaines insciptions
                = text_field_tag 'pre_inscription_email','', placeholder: 'Votre email...', class: 'special_input'
                = submit_tag "Valider"
    
        #bottom_menu
        #footer
