-# encoding: UTF-8
!!!
%html
  %head
    %title Mysquash
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    = favicon_link_tag "/assets/favicon.ico"
  %body
    #wrapper
      #trame
        = render partial: "global_partials/menu"
        = yield        
        #bottom_layer  
          = render partial: "global_partials/footer_comment"
        #bottom_menu
        #footer
